@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Bricolage Grotesque", sans-serif;
  --color-black: #121212;
  --color-blue-50: #EBEDFF;
  --color-accent-50: #fff4e6;
  --color-accent-100: #ffe9cc;
  --color-accent-200: #ffd399;
  --color-accent-300: #ffbe66;
  --color-accent-400: #ffa833;
  --color-accent-500: #ff9200;
  --color-accent-600: #cc7500;
  --color-accent-700: #995800;
  --color-accent-800: #663a00;
  --color-accent-900: #331d00;

}
/* CSS */
:root {
  font-family: Inter, sans-serif;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}
