<footer>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="flex flex-col md:flex-row justify-between lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <a href="/" class=" text-black inline-flex items-center gap-2">
        <img class="h-10" src="/chaski.png" alt="">
        <span class="font-bold font-display">ChaskiApp</span>
      </a>
      <div class="font-bold">
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="achacon" data-color="#FFDD00" data-emoji="☕"  data-font="Poppins" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
      </div>
    </div>
  </div>
</footer>
<footer class="bg-white">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6">
    <div class="border-t pt-6 border-gray-200">
      <p class="text-sm text-neutral-600 lg:col-span-2">
      © 2025 <a href="https://a-chacon.com">a-chacon.</a>
      </p>
    </div>
  </div>
</footer>
